<div class="sidenav" [ngClass]="collapsed ?'sidenav-collapsed': ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">AP</button>
    <div class="logo-text" *ngIf="collapsed">Welcome</div>
    <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()"></button>
    <i class="fal fa-times close-icon" *ngIf="collapsed" style="display: none"></i>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a href="" class="sidenav-nav-link" [routerLink]="[data.routeLink]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>

      </a>
    </li>
  </ul>
</div>

