<div class="outer">

  <div>
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <input type="text" required name="email" id="email" formControlName="email">
      <label>Email</label>
      <input type="text" required name="psw" id="psw" formControlName="psw">
      <label>Password</label>
      <input type="submit">
      <button type="button" (click)="navigateToHome()" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </form>
  </div>
</div>
