@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import '~@angular/cdk/overlay-prebuilt.css';

.body{
  display: flex;
}

.dashboard{
  display: inline-grid;
  padding: 50px;
  z-index: -1;
  width: 80%;
  justify-items: stretch;

}
