<app-header></app-header>
<body>

<div class="outer">
  <form [formGroup]="loginForm" (ngSubmit)="signup()">

    <div class="kontent">

      <p><span><b>Space</b></span><i>Shuffle</i></p>


      <div class="outer">

        <div>
          <label id="label" for="name"><b>Please complete all information below:</b></label><br>
          <input type="text" placeholder="Enter Name" name="name" id="name" formControlName="name" required>
          <input type="text" placeholder="Enter Surname" name="sname" id="sname" formControlName="sname" required>
          <input type="text" placeholder="Enter Email" name="username" id="username" formControlName="username" required>
          <input type="password" placeholder="Enter Password" name="psw" id="psw" formControlName="psw" required>
          <p class="question">Do you have a car?</p>
            <div class="checkbox">
              <input type="checkbox" id="yes" name="yes" value="yes" formControlName="yes">
              <label for="yes"><b>Yes</b></label><br>
          </div>
          <input class="submit" type="submit">
          <button type="button" (click)="navigateToHome()" class="cancelbtn">Cancel</button>
          <br>
          <span class="psw">Forgot <a href="#">password?</a></span>

        </div>
      </div>
      <img class="logo" src="assets/SpaceShuffleLogo.png" height=340px width=340px/>
    </div>

  </form>
</div>

</body>

