<div class="outer">
  <form [formGroup]="loginForm" (ngSubmit)="signup()">


    <div class="container">
      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" id="name" formControlName="name" required>

      <label for="sname"><b>Surname</b></label>
      <input type="text" placeholder="Enter Surname" name="sname" id="sname" formControlName="sname" required>

      <label for="username"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="username" id="username" formControlName="username" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" formControlName="psw" required>

      <p>Do you have a car?</p>
      <input type="checkbox" id="yes" name="yes" value="yes" formControlName="yes">
      <label for="yes"><b>Yes</b></label><br>

      <div class="container" style="background-color:#f1f1f1">
        <input type="submit" value="Sign In">
        <button type="button" (click)="navigateToHome()" class="cancelbtn">Cancel</button>
      </div>


    </div>
  </form>
</div>
