.outer {
  display: inline-block;
  max-width: 400px;
  width: 100%;
  margin: auto;
  font-family: "Myanmar Text", serif;
}

#label{
  text-align: left;
  margin-top: 100px;
}


input[type="password"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid midnightblue;
  border-radius: 5px;
  box-sizing: border-box;
  color: midnightblue;

}

input[type="text"] {
  width: 39%;
  padding: 10px;
  margin: 1%;
  border: 1px solid midnightblue;
  border-radius: 5px;
  box-sizing: border-box;
  color: midnightblue;
}
#username{
  width: 80%;
  padding: 10px;
  margin-bottom: 1vh;
  border: 1px solid midnightblue;
  border-radius: 5px;
  box-sizing: border-box;
  color: midnightblue;
}

body{
  position: relative;
  justify-content: center;
  background-image: url(../../hpi.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 93vh;
  display: flex;
  align-content: space-between;
  margin: 0 ;

}
body::before {
  content: "";
  position: absolute;
  background-color: black;
  opacity: 39%; /* Adjust the opacity value as desired */
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
}

form{
  top: 10vh;
  left: 10vw;
  padding: 55px;
  border-radius: 5px;
  border: 3px double midnightblue;
  position: absolute;
  text-align: center;
  height: fit-content;
  display: inline;
  backdrop-filter: blur(13px);
  background-color: white;
  opacity: 90%; /* Adjust the opacity value as desired */
  mix-blend-mode: hard-light;
}

.kontent{
  opacity: 100%;
}


button {
  background-color: midnightblue;
  color: white;
  padding: 14px 20px;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-top: 12px;
  border: 0.2px solid white;
  border-radius: 6px;
  cursor: pointer;
  width: 50%;
}

.cancelbtn{
  background-color: transparent;
  color: midnightblue;
  padding: 14px 20px;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-top: 12px;
  border: 0.2px solid #f44336;
  border-radius: 6px;
  cursor: pointer;
  width: 50%;
}

.cancelbtn:hover{
  background-color: midnightblue;
  color: #f44336;
}

.submit {
  background-color: midnightblue;
  color: white;
  padding: 14px 20px;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-top: 12px;
  border: 0.2px solid white;
  border-radius: 6px;
  cursor: pointer;
  width: 50%;

}
.submit:hover {
  opacity: 0.8;
}
button:hover {
  opacity: 0.8;
}

/*.behind {
  background-color: #051247 ;
  padding: 8px;
  width: 23px;
  height: 44px;

*/

.logo{
  height: 340px;
  width: 340px;
  align-items: center;

}

p{
  text-align: center;
  font-family: "Myanmar Text", serif;
  font-size: 45px;
  margin-bottom: -25px;
  color: white;
  margin-top: 0px;
}

.question{
  display: inline-block;
  font-size: 20px;
  font-weight: inherit;
  margin: 1vw;
  color: black;
  text-align: left;
  width: 50%;
}

.checkbox{
  display: inline-block;
}

span{
  color: midnightblue;

}

@media only screen and (max-width: 600px) {
  /* Adjust the max-width value as needed */
  .outer {
    max-width: 100%;
  }

  input[type="text"] {
    width: 100%;
    margin: 10px 0;
  }

  #email {
    width: 100%;
    margin: 10px 0;
  }

  body {
    align-items: center;
  }

  form {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  button,
  .cancelbtn,
  .submit {
    width: 100%;
  }

  .question,
  .checkbox {
    width: 100%;
    margin: 10px 0;
  }

  p {
    font-size: 30px;
  }
}
