<div class="outer">
  <form action="action_page.php" method="post">


    <div class="container">
      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" required>

      <label for="sname"><b>Surname</b></label>
      <input type="text" placeholder="Enter Surname" name="sname" required>

      <label for="id"><b>Student ID</b></label>
      <input type="text" placeholder="Enter Student ID" name="id" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <p>Do you have a car?</p>
      <input type="checkbox" id="yes" name="yes" value="yes">
      <label for="yes"><b>Yes</b></label><br>

      <button type="submit" (click)="navigateToChoose()">Sign Up</button>

    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" (click)="navigateToHome()" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>
