<app-header></app-header>
<div class="container">
  <h1 class="header-text">Offer a Ride</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-field">
      <mat-form-field>
        <mat-label>From</mat-label>
        <input matInput [formControlName]="'from'">
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field>
        <mat-label>To</mat-label>
        <input matInput [formControlName]="'to'">
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field>
        <mat-label>No. of Seats</mat-label>
        <input matInput [formControlName]="'seats'">
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field>
        <mat-label>Time</mat-label>
        <input type="time" matInput [formControlName]="'time'">
      </mat-form-field>
    </div>

    <button type="submit" mat-raised-button>Create Ride</button>
  </form>
</div>
