body {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #051247;
}

.container {
  border: 3px solid #f1f1f1;
  left: 50%;
  top: 50%;
  margin-left: -11%;
  position: absolute;
  margin-top: -5%;
  padding: 1% 5%;
  font-family: OpenSymbol, sans-serif;
}

button {
  margin: 15px;
  padding: 10px;
  background-color: #051247;
  color: white;

}

button:hover {
  opacity: 0.8;
}

.behind {
  background-color: #051247 ;
  padding: 8px;
  width: 23px;
  height: 44px;

}
.naslov{
  font-family: OpenSymbol, sans-serif;
  color: white;
  margin-top: 5px;
  margin-left: 2px;
}

