body{
  background-image: url('../../hpi.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1366px;
  height: 760px;
}

form{
  width: 600px;
  padding: 55px;
  background-color:#f7f6ee ;
  border-radius: 5px;
  border: 3px double midnightblue;
  left: 50%;
  top: 15%;
  position: absolute;
  text-align: center;
  height: fit-content;
  display: inline;
  margin: -5% auto 25px 10px;
}


button {
  background-color: midnightblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 0.2px solid white;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;

}

button:hover {
  opacity: 0.8;
}

/*.behind {
  background-color: #051247 ;
  padding: 8px;
  width: 23px;
  height: 44px;

*/


button.signup {
  background-color: #fbfcf8;
  color: #000000;
  border: 0.2px solid cornflowerblue;
}

.logo{
  height: 340px;
  width: 340px;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: "Myanmar Text", serif;
  font-size: 45px;
  margin-bottom: -25px;
  color: #051247;
}

h2{
  text-align: center;
  opacity: 0.7;
  font-family: "Myanmar Text", serif;
  background-color: rgb(247, 246, 238);
  margin-bottom: -25px;
}
