<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Home page</title>
  <meta name="author" content="Amra Isaković"/>
  <link rel="stylesheet" href="home.component.css">
</head>

<body>
<div class="behind">
  <h1 class="naslov"> SSST </h1>
  <div class="container">
    <h1>SpaceShuffle</h1>

    <button type="button" (click)="navigateToLogin()">Log in</button>
    <button type="button" (click)="navigateToSignup()">Sign up</button>

  </div>

</div>

</body>


</html>

