<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Home page</title>
  <meta name="author" content="Amra Isaković"/>
  <link rel="stylesheet" href="choose-role.component.css">
</head>

<body>

  <form>
    <h1>What are you in the mood for today?</h1>

    <button class="driver" type="button" (click)="navigateToCreate()"></button>

    <button class="passenger" type="button" (click)="navigateToChoose()"></button>

    <div class="btn-names">
      <h2 class="driv">DRIVING</h2>
      <h2 class="passr">PICK-UP</h2>
    </div>

  </form>
</body>
</html>

