<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Home page</title>
  <meta name="author" content="Amra Isaković"/>
  <link rel="stylesheet" href="choose-role.component.css">
</head>
<app-header></app-header>
<body>
<div class="behind">
  <h1 class="naslov"> SSST </h1>
  <div class="container">
    <h1>What are you in the mood for today?</h1>

    <button type="button" (click)="navigateToCreate()">Driver</button>
    <button type="button" (click)="navigateToChoose()">Passenger</button>

  </div>

</div>

</body>


</html>

