<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Home page</title>
  <meta name="author" content="Amra Isaković"/>
  <link rel="stylesheet" href="choose-role.component.css">
</head>

<app-header></app-header>

<body>

  <div class="container">
    <h1>What are you in the mood for today?</h1>

    <button class="driver" type="button" (click)="navigateToCreate()"></button>

    <button class="passenger" type="button" (click)="navigateToChoose()"></button>
    <div class="btn-names">
      <h2 clas="driv">DRIVER</h2>
      <h2 class="passr">PASSENGER</h2>
    </div>


  </div>
</body>
</html>

