<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">Choose where you want to be picked up.</h5>
    <p class="card-text">The dropdown menu offers several pickup spots. Please choose the one that fits your needs.</p>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item"></a> SSST </li>
        <li><a class="dropdown-item"></a> Otoka </li>
        <li><a class="dropdown-item"></a> Stup </li>
        <li><a class="dropdown-item"></a> Cengic Vila </li>
      </ul>
    </div>
  </div>
  <div class="card-footer text-body-secondary">
  </div>
</div>
