/* .dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dialog-actions {
  display: flex;
  justify-content: flex-end;
}
.dialog-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}
.wide-input {
  width: 100%;
} */


